* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
.common-heading {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
}
.common-paragraph {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;
}
.common-btn {
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: 0;
}

/* Header CSS */

.header-wrapper {
  background-color: #fdeef1;
}
.header {
  display: flex;
  padding: 50px 200px 0px 200px;
  justify-content: space-between;
  align-items: center;
}
.header .common-heading {
  font-size: 70px;
}
.header-img {
  width: 50%;
}

/* Section-1 CSS */
.section-1 {
  text-align: center;
  padding: 150px 200px;
}
.section-1-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.section-1-img img {
  width: 400px;
  height: 500px;
  border-radius: 300px 300px 0px 0px;
}
.section-1-img p a {
  color: #000;
}
.section-1-img p {
  font-size: 25px;
  font-weight: 700;
  margin-top: 30px;
}

/* Section-2 CSS */
.section-2 {
  background-color: #f0e9eb;
  display: flex;
  padding: 100px 300px;
  align-items: center;
  justify-content: space-between;
}
.section-2-left{
    text-align: center;
}
/* Section-3 CSS */
.section-3 {
  text-align: center;
  padding: 100px 200px;
}
.section-3-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-3-img img {
  width: 300px;
  height: 350px;
}

/* Section-4 CSS */
.section-4 {
  text-align: center;
  background-image: url("/images/Rectangle\ 9.png");
  margin: 0px 200px 100px 200px;
  padding: 100px 0;
  border-radius: 5px;
}
.mail-box {
  width: 500px;
  height: 20px;
  border-radius: 5px;
  padding: 22px;
  margin-right: 10px;
  border: none;
}

/* Footer CSS */
.footer {
  text-align: center;
  background-color: #000;
  padding: 100px 200px;
}
.footer p {
  color: #fff;
}
.footer-p {
  color: #8c8383;
}
